html(lang="en")
  head
    include templates/head.pug
    title Login - Bandy Sync
    style.
      input[type="text"] {
        display: none;
      }
  body 
    include templates/header.pug
    form(method="post")
      if incorrectPassword
        p(style="color: red;") Password is incorrect!
      input(type="password", name="password", placeholder="password")
      input(type="hidden", name="_token", value=csrfToken)
      input(type="text" name="email")
      button(type="submit") Login
      //- Password can be found in console
